.header {
  text-align: center;
  padding: 2rem;
  font-size: 5rem;
}

.game-container {
  display: grid;
  padding: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 1rem;
  justify-self: center;
  width: 35%;
  background-color: black;
}

.cell {
  aspect-ratio: 1/1;
  background-color: white;
}

.cell img {
  max-width: 95%;
}