body {
  overflow: hidden;
}

.active {
  animation: slideAnimation 2s ease-in forwards;
}

.header {
  text-align: center;
  padding: 2rem;
  font-size: 5rem;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 3rem;
  gap: 1rem;
}

.grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-self: center;
}

.game-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.cell {
  aspect-ratio: 1/1;
  background-color: lightblue;
  display: flex;
}

.cell:hover {
  cursor: pointer;
}

.create-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
  display: grid;
  color: white; 
  transition: opacity 1.2s ease;
}

.transparent {
  opacity: 0;
}

h1 {
  font-size: 8rem;
  align-self: first baseline;
  padding-top: 3rem;
}

.create-player form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  gap: 2rem;
  padding: 3rem;
  padding-bottom: 5rem;
  font-size: 2rem;
}

.player {
  display: grid;
  gap: 1rem;
  text-align: center;
}

input {
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  text-align: center;
}

button {
  grid-column: 1/3;
  padding: 1rem;
  padding-inline: 5rem;
  border-radius: 30px;
  justify-self: center;
}

button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

@keyframes slideAnimation {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%);
  }
}